@import "~bootstrap/scss/bootstrap";
.my-blue{
    color: #21252B;
}
.my-blue-bg{
    background-color: #21252B;
}

.my-cyan{
    color: #BADFDA;
}
.my-cyan-bg{
    background-color: #BADFDA;
}
.logo-container{
    width: 200px;
    display: flex;
    align-items: center;
}
.header-logo, .footer-logo{
    width: 100%;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/storage/images/LogoBMusic.png');
}
.my-logout-btn{
    background-color: #BADFDA;
    border-radius: 40px;
    font-weight: bold;
    color: white;
    padding: 5px 50px;
    &:hover{
        background-color: white;
        color: #21252B;
    }
}
.nav-link{
    &:hover{
        color: white;
    }
}
.register-btn{
    background-color: #21252B;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 30px;
    &:hover{
        border: 1px solid #21252B;
        a{
            color: #21252B !important
        }
    }
    a{
        color: white !important;
    }
}
.login-btn{
    border-radius: 30px;
    background-color: #ffffff;
    padding: 10px 30px;
    border: 0.5px solid #21252B;
    &:hover{
        background-color: #21252B;
        a{
            color: white;
        }
    }
    a{
        color: #21252B;
    }
}

// Footer

ul{
    list-style-type: none;
}

.footer-claim{
    color: grey;
    font-size: small;
}
