#dashboard{
    h1{
        line-height: 4rem;
        font-size: 3rem;
    }

    h2{
        font-size: 2.2rem;
        font-weight: bold;
        color: #21252B;
    }

    .bio-role-section{
        background-color: #21252B;

        p{
            line-height: 2rem;
            font-size: 1.1rem;
        }

        .role-icon{
            max-width: 80px;
        }
        .single-icon{
            filter: invert(100%);
        }
    }
    .img-not-found{
        background-image: url('/storage/images/Not-Found.jpg');
        min-height: 400px;
        background-size: cover;
        background-position: center; 
    }
    .edit-btn{
        background-color: #21252B;
        padding: 10px 30px;
        color: white;
        font-weight: bold;
        border-radius: 30px;
    }
}