.sponsor-user {
    min-height: 100px;
    min-width: 100px;
    border: 1px dashed black;
}

.user-icon {
    text-align: center;
    border: 1px solid red;
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.card {
    border: 5px solid #BADFDA;
    border-radius: 20px;
    background-color: #21252B;
    color: #BADFDA
}

.fa-volume-off, .fa-volume-low, .fa-volume-high {
    font-size: 50px;
    color: #BADFDA;
}

.btn {
    background-color: #BADFDA;
    color: #21252B
}

.badge {
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 0 20px 20px 0;
    padding: 5px;
    background-color: #BADFDA;
    color: #21252B
}

.mySwiper {
    height: 500px;
}